body {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體";
  .banner-container {
    cursor: pointer;
    .img-container {
      width: 100%;
    }
    .content-container {
      background-color: #eeeeee;
      .content-title {
        font-size: 2rem;
        font-weight: 1000;
        padding: 30px 5px;
        margin: 0;
      }
    }
  }
}
